.home-slider .swiper-button-prev{
    background: url('images/slider-arrow-left.png') no-repeat;
    width: 71px;
    height: 71px
}
.home-slider .swiper-button-next{
    background: url('images/slider-arrow-right.png') no-repeat;
    width: 71px;
    height: 71px
}
@media(min-width: 1400px){

}
@media(max-width: 767px){

}