div.news-detail {
  word-wrap: break-word;
}
div.news-detail img.detail_picture {
  float: left;
  margin: 0 8px 6px 1px;
}
.news-date-time {
  color: #486daa;
}
.site-content.with-sidebar {
  display: flex;
  gap: 20px;
}
.site-content.with-sidebar .sidebar {
  width: 100%;
  flex-shrink: 0;
  max-width: 250px;
  position: relative;
}
.site-content.with-sidebar > .content {
  flex-shrink: 1;
}
.objects__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 20px;
}
.objects__tab {
}
.objects__tab a {
  padding: 15px 30px;
  background-color: eee;
  margin-bottom: 10px;
  display: block;
  color: #fff;
  background-color: #0898d4;
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fff;
  transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.objects__tab a:hover {
  color: #94dfff;
  text-decoration: none;
}
.objects__content-tab {
  margin-bottom: 2rem;
}

.section-tabs {
  margin-bottom: 53px;
  text-align: left;
}
.contact-container {
  margin: 0 -30px 0 0;
}
.contact-block .contact-holder {
  border: 1px solid #eaeaea;
  float: left;
  width: 300px;
  height: 217px;
  padding: 30px 15px 0 30px;
  margin: 0 30px 30px 0;
}
.contact-holder .phone {
  background: url('./images/icon-phone2.png') 0 4px no-repeat;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  padding: 0 0 0 20px;
  margin: 0 0 5px;
}
.contact-holder .mail {
  background: url('./images/icon-mail.png') 0 4px no-repeat;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  padding: 0 0 0 20px;
}
.contact-block:after {
  display: block;
  content: '';
  clear: both;
}
.contact-holder h2 {
  font-size: 18px;
  font-weight: 700;
}
.contact-holder h3 {
  font-size: 16px;
  font-weight: 600;
}
