.header .b-up .b-slogan {
  display: flex;
  align-items: center;
}
.b-main-menu ul:not(.b-nav-dropdown) ul.submenu {
  position: absolute;
  background-color: #eee;
  padding: 5px 0;
  left: 0;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.b-main-menu ul:not(.b-nav-dropdown) ul.submenu li {
  width: 100%;
  padding: 5px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.b-main-menu ul:not(.b-nav-dropdown) > li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.b-main-menu ul:not(.b-nav-dropdown) .submenu .link:hover {
  color: #007bff;
  background-color: inherit;
}
.b-main-menu ul:not(.b-nav-dropdown) .submenu .link {
  color: #151515;
  padding: 0;
}
.b-other-page .header .b-up .b-slogan,
.b-other-page .b-header-address,
.b-other-page .b-header-phone a,
.b-other-page .b-header-socials ul li a,
.b-other-page .b-slider-title,
.b-other-page .b-slider-title span,
.b-other-page .b-slider-text {
  color: #151515;
}
.b-other-page .b-site-inner {
  padding-bottom: 2rem;
}
#block-text2 td {
  padding: 2px 5px;
}
#block-text2 a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: text-decoration-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#block-text2 a:hover {
  text-decoration-color: transparent;
}
.b-documents-list .b-title {
  font-size: 18px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
}

.b-documents-list .b-documents-elements {
  margin-bottom: 60px;
}

.b-documents-list .b-documents-elements .b-documents-element:nth-child(odd) {
  background-color: #eff2f7;
}

.b-documents-list .b-documents-elements .b-documents-element .b-doctitle {
  position: relative;
  padding: 30px 60px 30px;
  font-weight: 700;
  font-size: 16px;
}

.b-documents-list .b-documents-elements .b-documents-element .docfile {
  padding: 0 60px 30px 60px;
  color: #333;
  line-height: 1.6;
  font-size: 14px;
}

.b-documents-list .b-documents-elements .b-documents-element .docfile.b-none {
  display: none;
}
.b-service-detail .b-documents-list .b-documents-elements,
.b-service-section .b-documents-list .b-documents-elements {
  margin-bottom: 15px;
}

.b-documents-list {
  max-width: 1100px;
  margin: 0 auto;
}
.b-documents-list .b-documents-elements .b-documents-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-docfile {
  position: relative;
  padding: 30px 60px 30px;
  font-weight: 700;
  font-size: 16px;
}
.b-docfile a {
  color: var(--gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration-color: transparent;
}
.b-docfile a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: text-decoration-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.b-docfile .icon {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* https://www.svgrepo.com/svg/424860/pdf-file-type */
.icon.b-pdf {
  background-image: url(/local/templates/ktsh/images/pdf-file.svg);
}
.icon.b-doc {
  background-image: url(/local/templates/ktsh/images/word-file.svg);
}
.footer-contacts {
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fafafa;
}
.footer-contacts__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-contacts__phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bottom {
  position: relative;
  padding: 20px 0 0;
  background: #f3f3f3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__bottom-wrap {
  display: flex;
  justify-content: space-between;
}
.footer__copyright,
.footer__links {
  vertical-align: middle;
  font-size: 13px;
  opacity: 0.7;
}
.footer__copyright {
  max-width: 260px;
  line-height: 1.55;
}
.footer__links {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__link {
  margin: 0 0 10px;
}
.b-header-phone--footer {
  font-weight: 400 !important;
}
.b-header-order .btn {
  padding: 10px 15px;
  font-size: 12px;
}
.b-header-search {
  background-color: transparent;
  outline: none;
  border: 3px solid #0898d4;
  border-radius: 20px;
  /* padding: 8px 10px 8px 40px; */
  margin-right: 24px;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.b-header-search label {
  margin-bottom: 0;
  cursor: pointer;
}
.b-header-search .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.b-header-search input {
  background-color: transparent;
  padding: 8px;
  border: none;
  outline: none;
  width: 35px;
  color: #fff;
  transition: width 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.b-header-search.active {
  width: initial;
}
.b-header-search.active .icon {
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}
.b-header-search.active input {
  padding: 8px 15px;
  width: 175px;
}
.b-header-cabinet {
  margin-left: 20px;
}
.b-header-phone {
  margin-right: 20px;
}
.header.header--lk .b-up .b-left {
  flex: 0 1 40%;
  max-width: 40%;
}
.header.header--lk .b-up .b-center {
  flex: 0 1 22%;
  max-width: 22%;
}
.b-header-address > span {
  max-width: 210px;
}
.b-slogan {
  justify-content: center;
}
.menu-mobile-wrap {
  /* margin-top: 30px; */
}
.mobile-search {
  background-color: transparent;
  border: 1px solid #0898d4;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  float: right;
}
.menu-mobile-wrap:after {
  content: '';
  clear: both;
}
.btn-lk-mobile {
  display: inline-flex;
  margin-bottom: 12px;
}
.btn-lk-mobile .icon {
  margin-right: 10px;
}
.b-main-menu {
  /* border: 1px solid #888888; */
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.b-mobile-search {
  display: none;
}
.b-mobile-search.active {
  transform: none;
  z-index: 15;
}
.show-more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  height: 54px;
  padding: 10px 50px;
  transition: all 0.3s;
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  color: #ffffff;
  background-color: #0898d4;
}
.show-more:hover {
  color: #ffffff;
  background-color: #0b96d7;
  box-shadow: 0 0 10px #0b96d788;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .b-mobile-search {
    width: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem 1rem;
    border-radius: 0 0 20px 20px;
    background-color: #0898d4;
    transform: translateY(-100%);
    transition: transform 0.4s;
  }
  .b-mobile-search label {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
    position: relative;
  }
  .b-mobile-search input {
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    color: #151515;
  }
  .b-mobile-search .icon {
    position: absolute;
    left: auto;
    right: 5px;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  .b-header-address {
    display: none !important;
  }
  .header.header--lk .b-up .b-left {
    flex: 0 1 25%;
    max-width: 25%;
  }
  .header.header--lk .b-up .b-center {
    flex: 0 1 28%;
    max-width: 28%;
  }
}
@media (max-width: 768px) {
  .b-main-menu ul.submenu {
    display: none;
    position: static;
    background-color: inherit;
  }
  .b-main-menu li a:hover,
  .b-main-menu li a:focus {
    background-color: inherit !important;
  }
  .b-documents-list .b-title {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .b-documents-list .b-documents-elements {
    margin-bottom: 30px;
  }

  .b-documents-list .b-documents-elements .b-documents-element .b-doctitle {
    padding: 30px;
  }

  .b-documents-list
    .b-documents-elements
    .b-documents-element
    .b-doctitle:after {
    right: 15px;
  }

  .b-documents-list .b-documents-elements .b-documents-element .docfile {
    padding: 0 30px 30px 30px;
  }
  .header.header--lk .b-up .b-center {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .header.header--lk .b-up .b-left {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .site-slider .b-slide-content {
    display: none;
  }
  .b-mobile-whatsapp {
    display: none !important;
  }
}
@media (max-width: 575px) {
  .site-slider .b-slide-content {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-slider .b-slider-img {
    height: 100px !important;
    background-size: cover;
    background-position: 50% 0%;
  }
  .header.header--lk .b-up .b-center {
    display: none;
  }
  .header .b-up .b-right {
    -webkit-flex: 0 1 62% !important;
    -ms-flex: 0 1 62% !important;
    flex: 0 1 62% !important;
    max-width: 62% !important;
  }
}
@media (min-width: 992px) {
  .b-other-page .header .b-up .b-slogan,
  .b-other-page .b-header-address,
  .b-other-page .b-header-phone a,
  .b-other-page .b-header-socials ul li a,
  .b-other-page .b-slider-title,
  .b-other-page .b-slider-title span,
  .b-other-page .b-slider-text {
    color: #151515 !important;
  }
}
